body {
    width           : 520px;
    height          : 130px;
    margin          : 0;
    padding         : 16px 24px;
    box-sizing      : border-box;
    background      : rgba(255, 255, 255, 0.65) url('../img/poweredByQwant-x2.png') no-repeat 364px 92px;
    background-size : 136px 20px;
    font-family     : "helvetica", sans-serif;
}

*:focus {
	outline : none;
}

.search-qwant {
    height         : 46px;
    margin-bottom  : 24px;
    padding-bottom : 6px;
    border-bottom  : 2px solid rgb(122, 124, 128);
}

.search-qwant-logo {
    display         : inline-block;
    width           : 40px;
    height          : 40px;
    vertical-align  : top;
    background      : url('../img/qwant-x2.png') no-repeat center center;
    background-size : 25px 25px;
}

#search-input {
    display    : inline-block;
    width      : calc(100% - 92px);
    background : none;
    border     : none;
    box-shadow : none;
    color      : rgb(100, 102, 104);
    font-size  : 18px;
    height     : 40px;
}

.search-glass-logo {
    display         : inline-block;
    width           : 40px;
    height          : 40px;
    border          : none;
    padding         : 0;
    vertical-align  : bottom;
    background      : url('../img/search-x2.png') no-repeat center center;
    background-size : 25px 25px;
    cursor          : pointer;
}

.option-element {
    display        : inline-block;
    width          : 49%;
    vertical-align : top;
}

.option-element input {
    display        : inline-block;
    vertical-align : top;
}

.option-element label {
    display        : inline-block;
    width          : calc(100% - 30px);
    font-size      : 14px;
    color          : #393B3D;
}

.option-element--2 {
    text-align : right;
}
