.qwt-embed-yahoo {
    margin-bottom: 10px !important;
    border-radius: 1px !important;
}

.qwt-web, .qwt-news, .qwt-media, .qwt-social {
	padding-left: 33px !important;
}

.qwt-web-result-link, .qwt-news-result-link, .qwt-media-result-link, .qwt-social-result-link {
	padding-left: 20px !important;
}

.qwt-footer {
	margin-left: 33px !important;
}